<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
  </configSections>
  <appSettings>
  <add key="/Test" value="http://localhost:1000/Account/ImOnLine"/>
    <add key="/Auth" value="http://localhost:1000/Account/ConsoleAuth"/>
    <add key="/SignalR" value="http://localhost:1000/"/>
    <add key="HubName" value="AtmDataHub"/>
    <add key="AuthCookieName" value=".AspNet.ApplicationCookie"/>
    <add key="QueryAceptadorBilletes" value="SELECT Status, Error FROM dbo.AceptadoresBilletes where AceptadoresBilletes.Id = 1"/>
    <add key="QueryAceptadorMonedas" value="SELECT Status, Error FROM dbo.AceptadoresMonedas where AceptadoresMonedas.Id = 1"/>
    <add key="QueryDispensador" value="SELECT Status, Error, EfectivoInicial, EfectivoDispensado, EfectivoActual FROM dbo.Dispensadores where Dispensadores.Id = 1"/>
    <add key="QueryScanner" value="SELECT Status, Error FROM dbo.Scanners where Scanners.Id = 1"/>
    <add key="QueryImpresora" value="SELECT Status, Error, Papel FROM dbo.Impresoras where Impresoras.Id = 1"/>
    <add key="QueryTarjeta" value="SELECT Status, Error FROM dbo.Tarjetas where Tarjetas.Id = 1"/>
    <add key="QueryToneleroA" value="SELECT Status, Error, EfectivoInicial, EfectivoDispensado, EfectivoActual FROM dbo.TonelerosA where TonelerosA.Id = 1"/>
    <add key="QueryToneleroB" value="SELECT Status, Error, EfectivoInicial, EfectivoDispensado, EfectivoActual FROM dbo.TonelerosB where TonelerosB.Id = 1"/>
    <add key="QueryCajero" value="SELECT RowUpdate FROM dbo.Cajeros where Cajeros.Id = '1'"/>
    <add key="Username" value="CajeroSanNicolas@emmty.com"/>
    <add key="Password" value="!@Ger231"/>
    <add key="AutomaticLoggin" value="True"/>
    <add key="NsCajero" value="Miditec20150312ger1021"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>
  <connectionStrings>
    <add connectionString="Server=GSH\SQLEXPRESS;Database=AtmStatusDb;User ID=sa;Password=!@Ger231" name="AtmStatusDbConnectionString" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <startup>
    
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework"/>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
</configuration>
