@using GridMvc.Html
@model IEnumerable<EMMTY_GO_WEB.Models.UPS>

@{
    ViewBag.Title = "UPSes";
}

<h2>Listado de UPSes</h2>
@if (User.IsInRole("Admin"))
{
    <p>
        @Html.ActionLink("Registrar nuevo UPS", "Create")
    </p>
}
<div id="ListTableId" class="table-responsive">
    @Html.Grid(Model).Columns(columns =>
    {
        columns.Add(c => c.NSUPS).Titled(Html.DisplayNameFor(c => c.NSUPS).ToHtmlString()).Filterable(true).Sanitized(false);
        columns.Add(c => c.NombreUPS).Titled(Html.DisplayNameFor(c => c.NombreUPS).ToHtmlString());
        columns.Add(c => c.MarcaUPS).Titled(Html.DisplayNameFor(c => c.MarcaUPS).ToHtmlString());
        columns.Add(c => c.ModeloUPS).Titled(Html.DisplayNameFor(c => c.ModeloUPS).ToHtmlString());
        columns.Add().Sanitized(false).Encoded(false).RenderValueAs(
            o =>
            {
                var added = "";
                if (User.IsInRole("Admin"))
                    added = Html.ActionLink("Editar", "Edit", new {id = o.IdUPS}).ToHtmlString();
                added += " | " + @Html.ActionLink("Info", "Details", new {id = o.IdUPS});
                return added + (" | " + Html.ActionLink("Eliminar", "Delete", new {id = o.IdUPS}).ToHtmlString());
            });
    }).WithPaging(10).Sortable(true)
</div>

@section scripts
{
    <script>
        $(document).ready(function () {
            $("#ListTableId table:first").addClass("table-condensed");
        });
    </script>
}
